## 提到pandas，立即应该想到DataFrame, Series这两种数据结构，所有的分析都以此为基础
### 链家数据分析
根据链家网数据，做一些数据分析

### 0.载入数据

In [63]:
import pandas as pd
lj_data = pd.read_csv('LJdata.csv')

In [64]:
type(lj_data)

pandas.core.frame.DataFrame

### 一张表, 三个部分: index, columns, values

In [65]:
lj_data.index

RangeIndex(start=0, stop=2760, step=1)

In [66]:
lj_data.columns

Index(['区域', '地址', '标题', '户型', '面积', '价格', '楼层', '建造时间', '朝向', '更新时间', '看房人数',
       '备注', '链接地址'],
      dtype='object')

In [67]:
lj_data.values

array([['燕莎租房', '新源街', '亮马桥 新源街  精装两居 交通便利 看房方便 随时入住', ..., 26,
        ' 随时看房 精装修 集中供暖',
        'https://bj.lianjia.com/zufang/101101803342.html'],
       ['望京租房', '澳洲康都', '澳洲康都东向精致两居室...........', ..., 33,
        ' 距离14号线(东段)东湖渠站731米 随时看房 精装修 集中供暖',
        'https://bj.lianjia.com/zufang/101101753126.html'],
       ['广安门租房', '远见名苑', '远见名苑 东向两居室 独立小区环境 适合居家', ..., 34,
        ' 距离7号线达官营站684米 随时看房 精装修 自供暖',
        'https://bj.lianjia.com/zufang/101101756753.html'],
       ...,
       ['六里桥租房', '莲花小区', '莲花小区 西南两居室 温馨舒适 楼层合适', ..., 7,
        ' 距离10号线莲花桥站661米 随时看房 集中供暖',
        'https://bj.lianjia.com/zufang/101101702130.html'],
       ['陶然亭租房', '中海紫御公馆', '中海紫御公馆  把您的家安放在花园里', ..., 6,
        ' 随时看房 精装修 集中供暖',
        'https://bj.lianjia.com/zufang/101101703605.html'],
       ['三元桥租房', '曙光里', '曙光里南向 高层两居室 随时看房', ..., 19,
        ' 距离机场线三元桥站980米 随时看房 集中供暖',
        'https://bj.lianjia.com/zufang/101101704735.html']], dtype=object)

### 使用英文的column names, 可以避免一些后续问题(主要是编码问题)

In [68]:
# 直接对列名重新赋值就可以修改列名

lj_data.columns = ['district', 'address', 'title', 'house_type', 'area', 'price', 'floor', 'build_time', 'direction', 'update_time', 'view_num', 'extra_info', 'link']
lj_data.columns

Index(['district', 'address', 'title', 'house_type', 'area', 'price', 'floor',
       'build_time', 'direction', 'update_time', 'view_num', 'extra_info',
       'link'],
      dtype='object')

接下来，咱们就可以对数据进行分析了

### 查看数据的形状和信息
shape、info、describe的用法

In [69]:
lj_data.shape

(2760, 13)

In [70]:
lj_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2760 entries, 0 to 2759
Data columns (total 13 columns):
district       2760 non-null object
address        2760 non-null object
title          2760 non-null object
house_type     2760 non-null object
area           2760 non-null object
price          2760 non-null int64
floor          2760 non-null object
build_time     2758 non-null object
direction      2760 non-null object
update_time    2760 non-null object
view_num       2760 non-null int64
extra_info     2760 non-null object
link           2760 non-null object
dtypes: int64(2), object(11)
memory usage: 280.4+ KB

In [71]:
lj_data.describe()

               price     view_num
count    2760.000000  2760.000000
mean     7570.800725    13.448913
std      6316.204986    12.746202
min      1300.000000     0.000000
25%      4500.000000     4.000000
50%      6000.000000    10.000000
75%      8500.000000    19.000000
max    210000.000000   122.000000

In [72]:
# 默认显示前5条信息
lj_data.head()

,district,address,title,house_type,area,price,floor,build_time,direction,update_time,view_num,extra_info,link
0,燕莎租房,新源街,亮马桥 新源街 精装两居 交通便利 看房方便 随时入住,2室1厅,50平米,5800,中楼层(共6层),1981年建板楼,南,2017.07.21,26,随时看房 精装修 集中供暖,https://bj.lianjia.com/zufang/101101803342.html
1,望京租房,澳洲康都,澳洲康都东向精致两居室...........,2室1厅,79平米,7800,中楼层(共28层),2005年建板塔结合,东,2017.07.23,33,距离14号线(东段)东湖渠站731米 随时看房 精装修 集中供暖,https://bj.lianjia.com/zufang/101101753126.html
2,广安门租房,远见名苑,远见名苑 东向两居室 独立小区环境 适合居家,2室1厅,86平米,8000,低楼层(共25层),2006年建塔楼,东,2017.07.20,34,距离7号线达官营站684米 随时看房 精装修 自供暖,https://bj.lianjia.com/zufang/101101756753.html
3,天通苑租房,天通苑北一区,北一区简装两居，采光好，视野美，出行方便,2室1厅,103平米,5300,低楼层(共13层),2004年建板楼,东南,2017.07.25,30,距离5号线天通苑站927米 随时看房 精装修 集中供暖,https://bj.lianjia.com/zufang/101101780034.html
4,团结湖租房,团结湖北口,团结湖北口近地铁高楼层朝南向精装修正规两居室,2室1厅,63平米,6400,高楼层(共16层),1982年建塔楼,南,2017.07.26,30,距离10号线团结湖站88米 随时看房 精装修 集中供暖,https://bj.lianjia.com/zufang/101101781083.html

### 找到最近更新信息的5套房子

In [73]:
lj_data.sort_values(by='update_time').tail(5)

# 其实就是先根据某一列排序，然后对得到的数据，根据需求调用head()或tail()方法

,district,address,title,house_type,area,price,floor,build_time,direction,update_time,view_num,extra_info,link
2351,马甸租房,裕民东里,裕民东里 1室1厅 5500元,1室1厅,44平米,5500,中楼层(共18层),1988年建塔楼,南,2017.07.27,1,距离10号线健德门站903米 随时看房 精装修 集中供暖,https://bj.lianjia.com/zufang/101101856026.html
2352,滨河西区租房,绮霞苑,绮霞苑带电梯两居室 南北通透 采光好,2室1厅,90平米,4500,高楼层(共13层),2003年建板楼,南 北,2017.07.27,5,随时看房 精装修 集中供暖,https://bj.lianjia.com/zufang/101101819138.html
479,潞苑租房,华龙小区,华龙小区精装两居室，家电齐全，拎包入住,2室1厅,80平米,2600,高楼层(共6层),1998年建板楼,南 北,2017.07.27,8,随时看房 集中供暖,https://bj.lianjia.com/zufang/101101764783.html
2344,回龙观租房,北京人家,北京人家正规电梯层北向一居室，精装修。,1室1厅,56平米,4000,高楼层(共9层),2005年建板塔结合,北,2017.07.27,6,随时看房 集中供暖,https://bj.lianjia.com/zufang/101101819017.html
2148,金融街租房,丰汇园小区,实验 精装一居 温馨舒适 居家,1室1厅,50平米,7000,低楼层(共12层),1999年建板塔结合,东,2017.07.27,8,距离4号线灵境胡同站908米 随时看房 精装修 集中供暖,https://bj.lianjia.com/zufang/101101800503.html

### 平均看房人数

In [74]:
lj_data['view_num'].mean()

13.44891304347826

### 看房人数的中位数

In [75]:
lj_data['view_num'].median()

10.0

### 房龄最小的20套房子的平均看房人数、平均面积...

In [76]:
import numpy as np

In [77]:
# 观察建造时间(build time)这一列，发现都是以4位数的年份开头

def get_age(x):
    try:
        return 2018-int(x[:4])
    except:
        return np.NaN

In [78]:
# 对build_time这一列通过apply调用get_age这一方法，得到新的一列age

lj_data.loc[:,'age'] = lj_data['build_time'].apply(get_age)

In [79]:
lj_data.head(1)

,district,address,title,house_type,area,price,floor,build_time,direction,update_time,view_num,extra_info,link,age
0,燕莎租房,新源街,亮马桥 新源街 精装两居 交通便利 看房方便 随时入住,2室1厅,50平米,5800,中楼层(共6层),1981年建板楼,南,2017.07.21,26,随时看房 精装修 集中供暖,https://bj.lianjia.com/zufang/101101803342.html,37.0

In [80]:
# 观察面积(area)这一列，发现最后两个字符都是"平米"

def get_area(x):
    try:
        return int(x[:-2])
    except:
        return ''

In [81]:
#对area这一列通过apply调用get_area方法，得到新的一列area_num

# 这里不用loc也可以
lj_data['area_num'] = lj_data['area'].apply(get_area)

In [82]:
# dataframe类型的数据，nsmallest, nlargest... 这些方法

lj_data.nsmallest(columns='age', n=20)[['view_num', 'area_num']].mean()

view_num     11.55
area_num    104.05
dtype: float64

### 房子价格的分布(平均，方差，中位数)

In [83]:
lj_data['price'].describe()

count      2760.000000
mean       7570.800725
std        6316.204986
min        1300.000000
25%        4500.000000
50%        6000.000000
75%        8500.000000
max      210000.000000
Name: price, dtype: float64

In [84]:
print("房子价格的平均数为{:.2f}".format(lj_data['price'].mean()))

房子价格的平均数为7570.80

### 最受欢迎的朝向(平均看房人数)

In [85]:
tmp_df = lj_data[['direction', 'view_num']].groupby('direction')

print("type of lj_data:", type(lj_data))
print("type of tmp_df:", type(tmp_df))

tmp_df = tmp_df.mean()

type of lj_data: <class 'pandas.core.frame.DataFrame'>
type of tmp_df: <class 'pandas.core.groupby.groupby.DataFrameGroupBy'>

In [86]:
tmp_df.head(5)

            view_num
direction
东          13.728395
东 东北       34.000000
东 东南        8.000000
东 东南 南     21.000000
东 北        19.454545

In [87]:
tmp_df.reset_index(inplace=True)
tmp_df.head()

  direction   view_num
0         东  13.728395
1      东 东北  34.000000
2      东 东南   8.000000
3    东 东南 南  21.000000
4       东 北  19.454545

In [88]:
tmp_df.sort_values(by='view_num', ascending=False)

   direction   view_num
1       东 东北  34.000000
29       西 北  28.250000
34      西南 西  25.000000
3     东 东南 南  21.000000
30        西北  19.478261
4        东 北  19.454545
7      东 南 西  19.000000
24       南 西  16.461538
31        西南  16.439490
21         北  16.369369
11      东 西北  16.333333
25     南 西 北  15.444444
13        东北  15.393443
20     东南 西南  14.666667
14        东南  14.193717
9        东 西  14.028846
0          东  13.728395
22         南  13.667890
28         西  13.587097
5        东 南  13.028571
6      东 南 北  12.952381
32     西南 东北  12.000000
12      东 西南  12.000000
10     东 西 北  12.000000
23       南 北  11.679881
19     东南 西北  11.666667
17      东南 南  10.800000
8    东 南 西 北  10.333333
16      东南 北  10.000000
2       东 东南   8.000000
33      西南 北   7.636364
26      南 西北   6.888889
27      南 西南   6.333333
18      东南 西   3.666667
15     东南 东北   3.000000

### 房型数量分布

In [89]:
%matplotlib inline
lj_data['house_type'].value_counts()

# lj_data['house_type'].value_counts().plot(kind='bar')

2室1厅     1284
1室1厅      457
3室1厅      371
3室2厅      207
1室0厅      157
2室2厅      142
4室2厅       42
4室1厅       21
1室2厅       17
2室0厅        9
5室2厅        8
1房间1卫       8
2房间1卫       6
5室3厅        5
3房间2卫       4
5室1厅        4
3室3厅        3
4室3厅        3
3房间1卫       3
3室0厅        3
6室2厅        2
2房间2卫       2
6室3厅        1
5房间2卫       1
Name: house_type, dtype: int64

### 最受欢迎的房型

In [90]:
tmp = lj_data[['house_type','view_num']].groupby('house_type').agg('mean')

In [91]:
tmp.reset_index(inplace=True)
tmp.head()

  house_type   view_num
0       1室0厅  14.280255
1       1室1厅  15.398249
2       1室2厅  17.058824
3      1房间1卫   9.250000
4       2室0厅  15.777778

In [92]:
tmp.sort_values(by='view_num', ascending=False)

   house_type   view_num
23       6室3厅  21.000000
7       2房间1卫  19.833333
2        1室2厅  17.058824
13      3房间1卫  17.000000
8       2房间2卫  16.000000
4        2室0厅  15.777778
1        1室1厅  15.398249
0        1室0厅  14.280255
14      3房间2卫  14.250000
5        2室1厅  13.698598
6        2室2厅  12.598592
10       3室1厅  12.040431
22       6室2厅  12.000000
11       3室2厅  11.874396
9        3室0厅  10.666667
17       4室3厅  10.000000
16       4室2厅   9.476190
3       1房间1卫   9.250000
15       4室1厅   7.428571
20       5室3厅   6.400000
19       5室2厅   5.375000
18       5室1厅   5.250000
12       3室3厅   4.000000
21      5房间2卫   3.000000

### 房子的平均租房价格(按平米算)

In [93]:
lj_data['price_per_m2'] = lj_data['price']/lj_data['area_num']

In [94]:
lj_data['price_per_m2'].mean()

87.72268429900429

### 最受关注的小区

In [95]:
lj_data.head(1)

,district,address,title,house_type,area,price,floor,build_time,direction,update_time,view_num,extra_info,link,age,area_num,price_per_m2
0,燕莎租房,新源街,亮马桥 新源街 精装两居 交通便利 看房方便 随时入住,2室1厅,50平米,5800,中楼层(共6层),1981年建板楼,南,2017.07.21,26,随时看房 精装修 集中供暖,https://bj.lianjia.com/zufang/101101803342.html,37.0,50,116.0

In [96]:
tmp = lj_data[['address','view_num']].groupby('address').agg(sum)

In [97]:
tmp.reset_index(inplace=True)
tmp.head()

     address  view_num
0    10AM新坐标        43
1        11站        41
2    BOBO自由城        10
3  CBD总部公寓二期         9
4    DBC加州小镇        23

In [98]:
tmp.sort_values(by='view_num', ascending=False).head(1)

    address  view_num
951     清芷园       246

### 出租房源最多的小区

In [99]:
lj_data['address'].value_counts()

远洋山水         19
润枫水尚         10
后现代城          9
大方居           9
慧忠里           9
太阳公元          9
芍药居北里         9
天畅园           9
金地仰山          9
鸿坤理想城大满贯      8
沿海赛洛城         8
鸿坤理想城礼域府      8
安贞西里          8
裕中西里          8
曙光里           8
乐城            8
炫特嘉园二期        7
京贸国际城西区       7
北京新天地         7
裕中东里          7
梵谷水郡          7
望京新城          7
西潞苑小区         7
金隅万科城         7
天居园           6
椿树园           6
阳光上东          6
京畿道           6
上元君庭          6
天鹅湾北区         6
             ..
红莲北里          1
禧福汇           1
保利中央公园        1
日光清城          1
颐和园宿舍         1
万寿路西街10号院     1
金地格林6         1
京艺天朗          1
国瑞城中区         1
天通西苑三区        1
芍药居甲2号院       1
金隅翡丽爱公馆       1
万方景轩          1
城市广场          1
天和嘉园          1
九洲溪雅苑一区       1
亮马嘉园          1
三羊里           1
保利嘉园三号院       1
良乡中路24号院      1
南厂北区          1
石油大院          1
广安门外南街        1
朱各庄小区         1
顺驰蓝调          1
昌盛园三区         1
星城国际          1
美树假日嘉园        1
首开国风美唐综合楼     1
京棉新城三厂        1
Name: address, Length: 1473, dtype: int64

### 出租房源最多的地区

In [100]:
lj_data["district"].value_counts()

望京租房          109
北苑租房           79
双井租房           55
酒仙桥租房          46
朝青租房           46
良乡租房           44
回龙观租房          42
天通苑租房          39
武夷花园租房         39
鲁谷租房           38
马甸租房           37
广安门租房          36
亦庄租房           34
长阳租房           33
安贞租房           30
九棵树(家乐福)租房     29
石佛营租房          29
梨园租房           29
通州北苑租房         29
亚运村小营租房        28
金融街租房          28
清河租房           27
苏州桥租房          26
亚运村租房          25
紫竹桥租房          25
西红门租房          25
和平里租房          24
管庄租房           24
潞苑租房           24
万柳租房           24
             ...
花乡租房            3
白纸坊租房           3
健翔桥租房           3
马连洼租房           3
农展馆租房           2
木樨园租房           2
昌平其它租房          2
白石桥租房           2
大红门租房           2
东四租房            2
和义租房            2
李桥租房            2
天宫院租房           2
北太平庄租房          1
丽泽租房            1
首都机场租房          1
洋桥租房            1
新宫租房            1
石景山其它租房         1
欢乐谷租房           1
门头沟其它租房         1
长椿街租房           1
地安门租房           1
灯市口租房           1
冯村租房            1
五里店租房           1
南口租房            1
金宝街租房           1
颐和园租房           1
厂洼租房            1
Name: district, Length: 208, dtype: int64

### 集中供暖和非集中供暖的有多少家，平均价格是多少

In [101]:
# 在备注信息一栏，部分含“集中供暖“关键字

lj_data['center_heating'] = lj_data['extra_info'].apply(lambda x: "集中供暖" in x)

In [102]:
lj_data[['center_heating','price']].groupby('center_heating').agg('mean').reset_index()

   center_heating        price
0           False  7317.436975
1            True  7623.603327

### 不同房型的平均/最大/最小面积

In [103]:
lj_data[['house_type','price']].groupby('house_type').agg(['mean','max','min'])

                    price
                     mean     max     min
house_type
1室0厅          4945.541401   23000    1900
1室1厅          5442.735230   16000    1300
1室2厅          7664.705882   15000    2500
1房间1卫         3862.500000    4200    3600
2室0厅          5497.777778    6600    2980
2室1厅          6314.758567   26000    1500
2室2厅          8988.028169   35000    2200
2房间1卫         5100.000000    7200    2800
2房间2卫         7050.000000   10500    3600
3室0厅          6900.000000    7700    6500
3室1厅          9591.644205   32000    2200
3室2厅         13697.584541   40000    2600
3室3厅          6966.666667    7600    6500
3房间1卫         8533.333333   13000    5900
3房间2卫         5950.000000    8500    5000
4室1厅         14847.619048   32000    3500
4室2厅         15723.809524   45000    3500
4室3厅         12333.333333   15000   11000
5室1厅          6125.000000    9000    5000
5室2厅         17375.000000   32000    7500
5室3厅         15040.000000   30000    4500
5房间2卫        16000.000000   16000   16000
6室2厅         16500.000000   17000   16000
6室3厅        210000.000000  210000  210000

### 哪个地铁口附近的房子最多

In [104]:
# 观察数据，发现地铁信息集中在备注(extra_info)一栏

lj_data.head(3)

,district,address,title,house_type,area,price,floor,build_time,direction,update_time,view_num,extra_info,link,age,area_num,price_per_m2,center_heating
0,燕莎租房,新源街,亮马桥 新源街 精装两居 交通便利 看房方便 随时入住,2室1厅,50平米,5800,中楼层(共6层),1981年建板楼,南,2017.07.21,26,随时看房 精装修 集中供暖,https://bj.lianjia.com/zufang/101101803342.html,37.0,50,116.000000,True
1,望京租房,澳洲康都,澳洲康都东向精致两居室...........,2室1厅,79平米,7800,中楼层(共28层),2005年建板塔结合,东,2017.07.23,33,距离14号线(东段)东湖渠站731米 随时看房 精装修 集中供暖,https://bj.lianjia.com/zufang/101101753126.html,13.0,79,98.734177,True
2,广安门租房,远见名苑,远见名苑 东向两居室 独立小区环境 适合居家,2室1厅,86平米,8000,低楼层(共25层),2006年建塔楼,东,2017.07.20,34,距离7号线达官营站684米 随时看房 精装修 自供暖,https://bj.lianjia.com/zufang/101101756753.html,12.0,86,93.023256,False

In [105]:
# 用到上次课讲到的正则表达式

import re

# 先写一个通用的匹配函数

def get_subway_info(string, pattern, n):
    # 用search因为需要对整个字符串进行匹配
    result = re.search(pattern, string)
    if result:
        # 按分组返回
        return result.group(n)
    return ''

### 正则表达式分析<br>
首先，"距离"两字后常跟的就是地铁线路信息<br>
其次，线路信息后部分有"(*段)"的字样<br>
最后，线路后跟地铁站名<br>

基本形式：距离(地铁线路)(某某段，这部分可有可无)(地铁站)<br>
可以按分组来详细匹配

In [106]:
# 匹配在哪条线上

lj_data['subway_line'] = lj_data['extra_info'].\
apply(lambda x:get_subway_info(x, pattern=r'距离(.+线(\(.*?段\))?)(.+站)', n=1))

In [107]:
lj_data['subway_line'].value_counts()

            1086
10号线         271
5号线          165
6号线          165
14号线(东段)     139
7号线          127
4号线          120
2号线          114
1号线          110
八通线           87
8号线           84
15号线          79
13号线          66
9号线           49
房山线           32
亦庄线           21
昌平线           20
机场线           17
16号线           4
14号线(西段)       4
Name: subway_line, dtype: int64

In [108]:
# 匹配是哪个地铁站

lj_data.loc[:,'subway_station'] = lj_data['extra_info'].\
apply(lambda x:get_subway_info(x, pattern=r'距离(.+线(\(.*?段\))?)(.+站)', n=3))

In [109]:
lj_data['subway_station'].value_counts()
# lj_data.head(10)

           1086
达官营站         43
双井站          34
安华桥站         32
青年路站         30
阜通站          28
十里堡站         28
北苑路北站        25
望京站          24
立水桥南站        22
东湖渠站         21
苏州街站         20
朝阳公园站        19
广渠门外站        19
东直门站         19
广渠门内站        19
劲松站          17
三元桥站         17
太阳宫站         17
安立路站         17
和平里北街站       16
梨园站          16
大望路站         16
芍药居站         15
潘家园站         15
昌平站          15
惠新西街北口站      15
车公庄西站        15
将台站          14
刘家窑站         14
           ...
郭庄子站          2
高米店南站         2
丰台东大街站        2
天坛东门站         2
欢乐谷景区站        1
农大南路站         1
呼家楼站          1
珠市口站          1
肖村站           1
国贸站           1
灯市口站          1
育知路站          1
西北旺站          1
东单站           1
北海北站          1
复兴门站          1
枣营站           1
南楼梓庄站         1
丰台科技园站        1
北京站站          1
广阳城站          1
南邵站           1
大钟寺站          1
高碑店站          1
木樨地站          1
张自忠路站         1
天通苑南站         1
郭公庄站          1
虎坊桥站          1
国家图书馆站        1
Name: subway_station, Length: 218, dtype: int64

### 地铁附近的房子平均价格 比 非地铁的高多少

In [110]:
lj_data.head(5)

,district,address,title,house_type,area,price,floor,build_time,direction,update_time,view_num,extra_info,link,age,area_num,price_per_m2,center_heating,subway_line,subway_station
0,燕莎租房,新源街,亮马桥 新源街 精装两居 交通便利 看房方便 随时入住,2室1厅,50平米,5800,中楼层(共6层),1981年建板楼,南,2017.07.21,26,随时看房 精装修 集中供暖,https://bj.lianjia.com/zufang/101101803342.html,37.0,50,116.000000,True,,
1,望京租房,澳洲康都,澳洲康都东向精致两居室...........,2室1厅,79平米,7800,中楼层(共28层),2005年建板塔结合,东,2017.07.23,33,距离14号线(东段)东湖渠站731米 随时看房 精装修 集中供暖,https://bj.lianjia.com/zufang/101101753126.html,13.0,79,98.734177,True,14号线(东段),东湖渠站
2,广安门租房,远见名苑,远见名苑 东向两居室 独立小区环境 适合居家,2室1厅,86平米,8000,低楼层(共25层),2006年建塔楼,东,2017.07.20,34,距离7号线达官营站684米 随时看房 精装修 自供暖,https://bj.lianjia.com/zufang/101101756753.html,12.0,86,93.023256,False,7号线,达官营站
3,天通苑租房,天通苑北一区,北一区简装两居，采光好，视野美，出行方便,2室1厅,103平米,5300,低楼层(共13层),2004年建板楼,东南,2017.07.25,30,距离5号线天通苑站927米 随时看房 精装修 集中供暖,https://bj.lianjia.com/zufang/101101780034.html,14.0,103,51.456311,True,5号线,天通苑站
4,团结湖租房,团结湖北口,团结湖北口近地铁高楼层朝南向精装修正规两居室,2室1厅,63平米,6400,高楼层(共16层),1982年建塔楼,南,2017.07.26,30,距离10号线团结湖站88米 随时看房 精装修 集中供暖,https://bj.lianjia.com/zufang/101101781083.html,36.0,63,101.587302,True,10号线,团结湖站

In [111]:
lj_data['near_subway'] = lj_data['subway_station'].apply(lambda x:len(x)>1)

In [112]:
result = lj_data[['near_subway','price']].groupby('near_subway').agg('mean').reset_index()

In [113]:
result

   near_subway        price
0        False  6106.436464
1         True  8520.800478

### 地铁附近的房源离地铁平均距离

In [114]:
lj_data.head(3)

,district,address,title,house_type,area,price,floor,build_time,direction,update_time,view_num,extra_info,link,age,area_num,price_per_m2,center_heating,subway_line,subway_station,near_subway
0,燕莎租房,新源街,亮马桥 新源街 精装两居 交通便利 看房方便 随时入住,2室1厅,50平米,5800,中楼层(共6层),1981年建板楼,南,2017.07.21,26,随时看房 精装修 集中供暖,https://bj.lianjia.com/zufang/101101803342.html,37.0,50,116.000000,True,,,False
1,望京租房,澳洲康都,澳洲康都东向精致两居室...........,2室1厅,79平米,7800,中楼层(共28层),2005年建板塔结合,东,2017.07.23,33,距离14号线(东段)东湖渠站731米 随时看房 精装修 集中供暖,https://bj.lianjia.com/zufang/101101753126.html,13.0,79,98.734177,True,14号线(东段),东湖渠站,True
2,广安门租房,远见名苑,远见名苑 东向两居室 独立小区环境 适合居家,2室1厅,86平米,8000,低楼层(共25层),2006年建塔楼,东,2017.07.20,34,距离7号线达官营站684米 随时看房 精装修 自供暖,https://bj.lianjia.com/zufang/101101756753.html,12.0,86,93.023256,False,7号线,达官营站,True

In [115]:
lj_data['subway_station_distance'] = lj_data['extra_info'].\
apply(lambda x:get_subway_info(x, pattern='.*站(.*?)米', n=1))

In [116]:
def distance_trans(x):
    try:
        return int(x)
    except:
        return np.NaN

In [117]:
lj_data.subway_station_distance = \
lj_data.subway_station_distance.apply(distance_trans)

In [118]:
lj_data['subway_station_distance'].mean()

717.5501792114695

### 最多的在租楼层

In [119]:
# 数据中楼层信息，高、中、低...

lj_data['floor'].apply(lambda x:x[0]).value_counts()
# lj_data.floor

中    1026
高     932
低     798
地       4
Name: floor, dtype: int64

In [120]:
lj_data['floor_num'] = lj_data['floor'].\
apply(lambda x:get_subway_info(x, pattern='共(.*?)层', n=1))

In [121]:
def floor_trans(x):
    try:
        return int(x)
    except:
        return np.NaN
lj_data['floor_num'] = lj_data['floor_num'].apply(floor_trans)

### 直接看房的房子比例

In [122]:
lj_data['convenient'] = lj_data.extra_info.apply(lambda x:'随时看房' in x)

In [123]:
lj_data['convenient'].mean()

0.9985507246376811

In [124]:
lj_data.columns

Index(['district', 'address', 'title', 'house_type', 'area', 'price', 'floor',
       'build_time', 'direction', 'update_time', 'view_num', 'extra_info',
       'link', 'age', 'area_num', 'price_per_m2', 'center_heating',
       'subway_line', 'subway_station', 'near_subway',
       'subway_station_distance', 'floor_num', 'convenient'],
      dtype='object')